<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Biblioteca</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <section th:replace="~{libro/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{libro/fragmentos :: agregarLibro}"/> 
        <section th:replace="~{libro/fragmentos :: listadoLibros}"/>
        <footer th:replace="~{layout/plantilla :: footer}"/>      
    </body>
</html>
